header {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: var(--primary);
  position: fixed;
  top: 0;
  z-index: 1;

  > img {
    flex: 0;
    height: 85%;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
  }
}
